<%= form_with model: @prototype, local: true do |f|%>



  <div class="field">
    <%= f.label :errortittle, "エラー" %>
    <%= f.collection_select(:errortittle_id, Errortittle.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :folder, "フォルダ" %>
    <%= f.collection_select(:folder_id, Folder.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :level, "レベル" %>
    <%= f.collection_select(:level_id, Level.all, :id, :name, {}) %>
  </div>


  <div class="field">
    <%= f.label :title, "エラーが出現したコード（詳細）" %><br />
    <%= f.text_field :title ,class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "エラーの対策" %><br />
    <%= f.text_area :catch_copy, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "提出する", class: :form__btn  %>
  </div>
<% end %>